// 复写样式区
body
  font-family: Consolas, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
h1
  font-size 2rem!important
blockquote
  font-size: 1rem;
  font-family: source-code-pro,Consolas,monospace;
  color: #847c74;
a
  color: #83a78d;
a.sidebar-link.active
  color: #83a78d;
  border-left-color: #83a78d;
a.sidebar-link:hover
  color: #83a78d;
.content code
  color: #847c74;
  margin: 0 .1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
.content img
  border: 1px solid #41464b;
  border-radius: 2px;